@supports (height: 100dvh) {
  html, body, #root {
    min-height: 100dvh;
    height: 100dvh;
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio:2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  :root {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  container-type: size;
}

#root {
  height: var(--cqh-full, 100dvh);
  max-height: 100dvh;
}

html
{
  font-size: 16px !important;
}

html body {
  font-size: 16px !important;
 }

div.ui.container {
  margin-left: 0px !important;
  width: 100vw !important;
}

div.ui.left.sidebar {
  width: 260px;
}

.ui.mobile.only.grid .ui.menu .ui.vertical.menu {
  display: none;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
  float: unset;
}

.ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
  content: "\f0d7";
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  position: static;
  width: 100%;
  background-color: unset;
  border: none;
  box-shadow: none;
}

.ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
  margin-top: 6px;
}

.ui.message h1.ui.header {
  font-size: 4.5rem;
}

.ui.message p.lead {
  font-size: 1.3rem;
  color: #333333;
  line-height: 1.4;
  font-weight: 300;
}

.chat-sidebar {
  height: 100cqh;
  width: 260px;
  float: left;
  background-color: #f8f8f8;
}

.chat-contexts {
  height: calc(100cqh - 176px);
  overflow: auto;
}

.chat-grid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: calc(100cqh);
  width: auto;
  margin-left: 260px;
}

.chat-grid.full-width {
  margin-left: 0px;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: calc(100cqh - 80px);
  overflow: auto;
}

.chat-welcome {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
  padding-top: calc(35vh);
}
.message {
  margin-bottom: 20px;
}
.message.user {
  text-align: right;
}
.message .content {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}
.message.user .content {
  background-color: #2185d0;
  color: white;
}
.message.ai .content {
  background-color: #e0e1e2;
  max-width: 80vw;
}
.message.ai.error .content {
  background-color: #ff000036;
}
.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #e0e1e2;
}
.input-container .input {
  flex: 1;
}
.response-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.response-actions .icon {
  cursor: pointer;
  margin-left: 10px;
}
.response-actions.ratingmsg {
  font-size: 0.75em;
}
.response-3dmodel {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}
.response-3dmodel.tokencost {
  font-size: 0.5em;
}
.response-image {
  max-width: calc(100% - 20px);
  margin: 0 10px;
}

/* For basic hover state changes */
.ui.menu .item:hover {
  background-color: #f0f0f0 !important;
  color: #000 !important;
}

/* For showing/hiding content */
.ui.menu .item .hover-content {
  display: none;
}

.ui.menu .item:hover .hover-content {
  display: block;
}

.ui.menu .item .default-content {
  display: block;
}

.ui.menu .item:hover .default-content {
  display: none;
}

.top-menubar {
  height: 40px;
  padding: 5px;
  display: flex;
  background-color: #d6d6d6;
  align-items: center;
}

.footer-menubar {
  height: 40px;
  padding: 5px;
  background-color: #d6d6d6;
  display: flex;
  align-items: center;
}

.chat-title {
  padding-left: 10px;
  font-size: 1.2rem;
  flex: 1;
}

.chat-buttons-left {
  flex: 1;
}
.chat-buttons-right {
  font-size: 0.75em;
}

.footer-menubar .settings {
  flex: 1;
}

.footer-menubar .spacer {
  flex: 4;
}

.footer-menubar .user {
  flex: 1;
}

/* https://css-tricks.com/almanac/properties/t/text-overflow/ */
.overflow {
  width: 12em;
  height: 1.1em;
  /*outline: 1px solid #000;*/
  /*margin: 0 0 2em 0;*/

/**
 * Required properties to achieve text-overflow
 */
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis { text-overflow: ellipsis; }
